<html>
    <head>
        <title>Cassandra's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Cassandra's blog</a></h1>
        </div>

        <div>
            <p>published: 16.10.2017, 12:14</p>
            <h2><a href="">Salutations! </a></h2>
            <p>Ici, on va apprendre comment on saluer nos amis quand on se recontre.Il y a le vousvoiment pour les occasions officiels et le tutoiment quand on parle avec les gens qui sonts nos amis ou notre age.</p>
        </div>

        <div>
            <p>published: 16.10.2017, 12:14</p>
            <h2><a href="">la conjugaison</a></h2>
            <p>On va commencer avec le verbe etre(to be)</p>
            <p> Je suis </p>
            <p> Tu es </p>
            <p> Il/Elle/On est </p>
            <p> Nous sommes </p>
            <p> Ils/Elles sont </p>
            <p> Vous etes </p>
        </div>
    </body>
</html>
