<html>{% load staticfiles %}
    <head>
      <title>Cassandra's blog </title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">Cassandra's blog </a></h1>
        </div>

        {% for post in posts %}
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">salutations!</a></h2>
            <p>Ici,on va apprendre comment on dit bonjour a notre amis et a les autres gens.Il y a le vousvoiment et le tutoiment .</p>
            <p>On utilise le vousvoiment pendant les occassions officiels et le tutoiment entre les amities </p>

        </div>
        {% endfor %}



         {% for post in posts %}
         <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">La conjugaison</a></h2>
            <p> Verbe ETRE </p>
            <p> Je suis </p>
            <p> Tu es </p>
        </div>
        {% endfor %}
    </body>
</html>
